header {
  background-color: var(--color-primary);

  color: #fff;
  padding-top: .5em;
  overflow: hidden;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: Arimo, serif;
}

nav a {
  white-space: nowrap;
  text-decoration: none;
}

nav ul {
  font-size: 1.125rem;
  padding-left: 1em;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  padding-top: .5em;
  padding-bottom: .5em;
  display: block;
}

nav a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #f27678;
  padding: 11.7px;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: inline-flex;;
}
